@page
@model Practica03.Pages.Ejercicio02Model
@{         
    ViewData["title"] = "Ejercicio 02";
}


<div class="text-center">

    <br />
    <h2>Banco ABC</h2>
    <p style="font-weight: bold; font-size:150%">Cajero Automántico</p>
    <br />

</div>